@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

:root {
    /* Light Mode - Default Colors */
    --text: #000000;
    --background: #fbfbfe;
    --secondary-background: #f0f0f0;
    --tertiary-background: #201f1f;
    --primary: #ffc300;
    --secondary: #e4cc96;
    --accent: #eb6028;

    --text5: hsl(0, 0%, 0%, 5%);
    --text10: hsl(0, 0%, 0%, 10%);
    --text15: hsl(0, 0%, 0%, 15%);
    --text20: hsl(0, 0%, 0%, 20%);
    --text25: hsl(0, 0%, 0%, 25%);
    --text30: hsl(0, 0%, 0%, 30%);
    --text35: hsl(0, 0%, 0%, 35%);
    --text40: hsl(0, 0%, 0%, 40%);
    --text45: hsl(0, 0%, 0%, 45%);
    --text50: hsl(0, 0%, 0%, 50%);
    --text55: hsl(0, 0%, 0%, 55%);
    --text60: hsl(0, 0%, 0%, 60%);
    --text65: hsl(0, 0%, 0%, 65%);
    --text70: hsl(0, 0%, 0%, 70%);
    --text75: hsl(0, 0%, 0%, 75%);
    --text80: hsl(0, 0%, 0%, 80%);
    --text85: hsl(0, 0%, 0%, 85%);
    --text90: hsl(0, 0%, 0%, 90%);
    --text95: hsl(0, 0%, 0%, 95%);

    --primary5: hsl(46, 100%, 50%, 5%);
    --primary10: hsl(46, 100%, 50%, 10%);
    --primary15: hsl(46, 100%, 50%, 15%);
    --primary20: hsl(46, 100%, 50%, 20%);
    --primary25: hsl(46, 100%, 50%, 25%);
    --primary30: hsl(46, 100%, 50%, 30%);
    --primary35: hsl(46, 100%, 50%, 35%);
    --primary40: hsl(46, 100%, 50%, 40%);
    --primary45: hsl(46, 100%, 50%, 45%);
    --primary50: hsl(46, 100%, 50%, 50%);
    --primary55: hsl(46, 100%, 50%, 55%);
    --primary60: hsl(46, 100%, 50%, 60%);
    --primary65: hsl(46, 100%, 50%, 65%);
    --primary70: hsl(46, 100%, 50%, 70%);
    --primary75: hsl(46, 100%, 50%, 75%);
    --primary80: hsl(46, 100%, 50%, 80%);
    --primary85: hsl(46, 100%, 50%, 85%);
    --primary90: hsl(46, 100%, 50%, 90%);
    --primary95: hsl(46, 100%, 50%, 95%);

    --secondary5: hsl(42, 59%, 74%, 5%);
    --secondary10: hsl(42, 59%, 74%, 10%);
    --secondary15: hsl(42, 59%, 74%, 15%);
    --secondary20: hsl(42, 59%, 74%, 20%);
    --secondary25: hsl(42, 59%, 74%, 25%);
    --secondary30: hsl(42, 59%, 74%, 30%);
    --secondary35: hsl(42, 59%, 74%, 35%);
    --secondary40: hsl(42, 59%, 74%, 40%);
    --secondary45: hsl(42, 59%, 74%, 45%);
    --secondary50: hsl(42, 59%, 74%, 50%);
    --secondary55: hsl(42, 59%, 74%, 55%);
    --secondary60: hsl(42, 59%, 74%, 60%);
    --secondary65: hsl(42, 59%, 74%, 65%);
    --secondary70: hsl(42, 59%, 74%, 70%);
    --secondary75: hsl(42, 59%, 74%, 75%);
    --secondary80: hsl(42, 59%, 74%, 80%);
    --secondary85: hsl(42, 59%, 74%, 85%);
    --secondary90: hsl(42, 59%, 74%, 90%);
    --secondary95: hsl(42, 59%, 74%, 95%);

    --accent5: hsl(17, 83%, 54%, 5%);
    --accent10: hsl(17, 83%, 54%, 10%);
    --accent15: hsl(17, 83%, 54%, 15%);
    --accent20: hsl(17, 83%, 54%, 20%);
    --accent25: hsl(17, 83%, 54%, 25%);
    --accent30: hsl(17, 83%, 54%, 30%);
    --accent35: hsl(17, 83%, 54%, 35%);
    --accent40: hsl(17, 83%, 54%, 40%);
    --accent45: hsl(17, 83%, 54%, 45%);
    --accent50: hsl(17, 83%, 54%, 50%);
    --accent55: hsl(17, 83%, 54%, 55%);
    --accent60: hsl(17, 83%, 54%, 60%);
    --accent65: hsl(17, 83%, 54%, 65%);
    --accent70: hsl(17, 83%, 54%, 70%);
    --accent75: hsl(17, 83%, 54%, 75%);
    --accent80: hsl(17, 83%, 54%, 80%);
    --accent85: hsl(17, 83%, 54%, 85%);
    --accent90: hsl(17, 83%, 54%, 90%);
    --accent95: hsl(17, 83%, 54%, 95%);

    --font: 'Inter', sans-serif;
    --spacer: 2rem 0;
    --inspacer: 2rem;
    --shadow: 0 0 1rem #00000024;
    --transition: all .1s ease-in-out;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    :root {
        --text: #e0e0e0; /* Light text for dark mode */
        --background: #121212; /* Dark background */
        --secondary-background: #1e1e1e; /* Darker secondary background */
        --tertiary-background: #333333; /* Dark tertiary background */
        --primary: #bb86fc; /* Light primary color */
        --secondary: #03dac6; /* Light secondary color */
        --accent: #ff8c00; /* Accent color for dark mode */

        --text5: hsl(0, 0%, 100%, 5%);
        --text10: hsl(0, 0%, 100%, 10%);
        --text15: hsl(0, 0%, 100%, 15%);
        --text20: hsl(0, 0%, 100%, 20%);
        --text25: hsl(0, 0%, 100%, 25%);
        --text30: hsl(0, 0%, 100%, 30%);
        --text35: hsl(0, 0%, 100%, 35%);
        --text40: hsl(0, 0%, 100%, 40%);
        --text45: hsl(0, 0%, 100%, 45%);
        --text50: hsl(0, 0%, 100%, 50%);
        --text55: hsl(0, 0%, 100%, 55%);
        --text60: hsl(0, 0%, 100%, 60%);
        --text65: hsl(0, 0%, 100%, 65%);
        --text70: hsl(0, 0%, 100%, 70%);
        --text75: hsl(0, 0%, 100%, 75%);
        --text80: hsl(0, 0%, 100%, 80%);
        --text85: hsl(0, 0%, 100%, 85%);
        --text90: hsl(0, 0%, 100%, 90%);
        --text95: hsl(0, 0%, 100%, 95%);

        --primary5: hsl(265, 80%, 80%, 5%);
        --primary10: hsl(265, 80%, 80%, 10%);
        --primary15: hsl(265, 80%, 80%, 15%);
        --primary20: hsl(265, 80%, 80%, 20%);
        --primary25: hsl(265, 80%, 80%, 25%);
        --primary30: hsl(265, 80%, 80%, 30%);
        --primary35: hsl(265, 80%, 80%, 35%);
        --primary40: hsl(265, 80%, 80%, 40%);
        --primary45: hsl(265, 80%, 80%, 45%);
        --primary50: hsl(265, 80%, 80%, 50%);
        --primary55: hsl(265, 80%, 80%, 55%);
        --primary60: hsl(265, 80%, 80%, 60%);
        --primary65: hsl(265, 80%, 80%, 65%);
        --primary70: hsl(265, 80%, 80%, 70%);
        --primary75: hsl(265, 80%, 80%, 75%);
        --primary80: hsl(265, 80%, 80%, 80%);
        --primary85: hsl(265, 80%, 80%, 85%);
        --primary90: hsl(265, 80%, 80%, 90%);
        --primary95: hsl(265, 80%, 80%, 95%);

        --secondary5: hsl(170, 100%, 50%, 5%);
        --secondary10: hsl(170, 100%, 50%, 10%);
        --secondary15: hsl(170, 100%, 50%, 15%);
        --secondary20: hsl(170, 100%, 50%, 20%);
        --secondary25: hsl(170, 100%, 50%, 25%);
        --secondary30: hsl(170, 100%, 50%, 30%);
        --secondary35: hsl(170, 100%, 50%, 35%);
        --secondary40: hsl(170, 100%, 50%, 40%);
        --secondary45: hsl(170, 100%, 50%, 45%);
        --secondary50: hsl(170, 100%, 50%, 50%);
        --secondary55: hsl(170, 100%, 50%, 55%);
        --secondary60: hsl(170, 100%, 50%, 60%);
        --secondary65: hsl(170, 100%, 50%, 65%);
        --secondary70: hsl(170, 100%, 50%, 70%);
        --secondary75: hsl(170, 100%, 50%, 75%);
        --secondary80: hsl(170, 100%, 50%, 80%);
        --secondary85: hsl(170, 100%, 50%, 85%);
        --secondary90: hsl(170, 100%, 50%, 90%);
        --secondary95: hsl(170, 100%, 50%, 95%);

        --accent5: hsl(30, 100%, 60%, 5%);
        --accent10: hsl(30, 100%, 60%, 10%);
        --accent15: hsl(30, 100%, 60%, 15%);
        --accent20: hsl(30, 100%, 60%, 20%);
        --accent25: hsl(30, 100%, 60%, 25%);
        --accent30: hsl(30, 100%, 60%, 30%);
        --accent35: hsl(30, 100%, 60%, 35%);
        --accent40: hsl(30, 100%, 60%, 40%);
        --accent45: hsl(30, 100%, 60%, 45%);
        --accent50: hsl(30, 100%, 60%, 50%);
        --accent55: hsl(30, 100%, 60%, 55%);
        --accent60: hsl(30, 100%, 60%, 60%);
        --accent65: hsl(30, 100%, 60%, 65%);
        --accent70: hsl(30, 100%, 60%, 70%);
        --accent75: hsl(30, 100%, 60%, 75%);
        --accent80: hsl(30, 100%, 60%, 80%);
        --accent85: hsl(30, 100%, 60%, 85%);
        --accent90: hsl(30, 100%, 60%, 90%);
        --accent95: hsl(30, 100%, 60%, 95%);
    }
}
