<section class="layout-container">
        <div class="layout-content {{with .Get "class"}}{{.}}{{end}}">
            <div class="img-body highlight-{{.Get "color"}}">
                {{/* Changed single quotes around 'img' to double quotes "img" */}}
                <img src="{{.Get "img" | absURL}}">
            </div>
            <div class="text-body">
                {{with .Get "title"}}<h3>{{.}}</h3>{{end}}
                {{$text := .Get "text"}}
                {{$texts := split $text "|"}}
                {{range $texts}}
                    <p>{{.}}</p>
                {{end}}
            </div>  
        </div>
    </section>
    